<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540617145209-g05fvjrtq6nc0ld7re0dfr6b3bdd11re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540617145209-g05fvjrtq6nc0ld7re0dfr6b3bdd11re</string>
	<key>API_KEY</key>
	<string>AIzaSyDZqg5BllvhSW-8p0HuShXSVyISnIxKPQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>540617145209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gelo.ecommerceFlutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>clear-truth-283704</string>
	<key>STORAGE_BUCKET</key>
	<string>clear-truth-283704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540617145209:ios:be30c4978ee9534313cda8</string>
	<key>DATABASE_URL</key>
	<string>https://clear-truth-283704.firebaseio.com</string>
</dict>
</plist>